html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.book-item {
    text-align: center;
    margin-top: 30px;
}

#booksContainer {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 100px;
}

.checked {
    color: rgb(228, 177, 38);
}

.book-item-image {
    width: 300px;
    height: 300px;
    transition: 0.2s;
}

.book-item-image:hover {
    filter: brightness(130%);
    cursor: pointer;
    transform: scale(1.05);
}

#btnCreateNewBook {
    margin-top: 10px;
    margin-bottom: 10px;
}

body::before {
    background-image: url('../images/library.png');
    background-size: cover;
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.2;
}

#navbar {
    background: rgba(255, 255, 255, 0.5);
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
}

#footer {
    background: rgba(255, 255, 255, 0.5);
    z-index: 10;
    padding: 0.3rem;
    margin-top: 20px;
}

#footerText {
    padding-top: 1rem;
    font-size: 20px;
    font-style: italic;
}

.navbar-brand {
    font-weight: bold;
    font-size: 30px;
}

.input-row {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

#bookDetailsContainer {
    margin-top: 170px;
}

.book-row {
    margin-bottom: 15px;
}

#imagePreview {
    width: 300px;
    height: 300px;
    margin-top: 10px;
    line-height: 300px;
    text-align: center;
}

.horizontal-parent {
    text-align: center;
}

#buttonsContainer {
    margin-top: 100px;
}

.book-item-button {
    min-width: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.error {
    margin-top: 5px;
    color: #721c24;
    background-color: #f8d7da;
    padding: .5rem .5rem;
    border: 1px solid rgba(245, 198, 203);
    border-radius: 0.25rem;
}

.pointer {
    cursor: pointer;
}

.big-margin-top {
    margin-top: 200px !important;
}

.small-margin-top {
    margin-top: 5px !important;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
  
.site-content {
    flex: 1;
}

.book-item-fa-star{
    margin-right: 5px;
}

.btn-light {
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
}

#btnPreviewImage {
    margin-bottom: 5px;
}
